.footer-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.9rem;
}

.footer-wrapper {
    margin: 0rem 2rem 0rem 2rem;
    display: flex;  
    align-items: center; 
    justify-content: center;
    gap: 50px;
    max-width: 100%;
}

.content-one {
    display: flex;  
    align-items: center; 
    justify-content: center;
    gap: 15px;
}

.github-logo {
    width: 30px;
    height: 100%;
}

p {
    color: #6d747c;
    font-weight: bold;
}

a {
    color: #c2c9d1;
    font-family: Menlo-Bold, sans-serif;
    text-decoration: none;
}

@media (max-width: 768px) {

    .footer-content {
        width: 100%;
        font-size: 0.8rem;
    }

    .footer-wrapper {
        display: inline;
        flex-direction: column;
        max-width: 100%;
    }

    .content-one {
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem; 
    }

    .content-two {
        display: none;
    }

    .github-logo {
        width: 20px;
        height: 100%;
    }

    .content-two p {
        margin: 0;
    }
}