.footer-content {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 0.9rem;
}

.content-wrapper {
    margin: 0rem 2rem 0rem 2rem;
    display: flex;  
    align-items: center; 
    justify-content: center;
    gap: 50px;
    max-width: 100%;
}

.content-one {
    display: flex;  
    align-items: center; 
    justify-content: center;
    gap: 15px;
}

.github-logo {
    width: 30px;
    height: 100%;
}

p {
    color: #6d747c;
    font-weight: bold;
}

a {
    color: #c2c9d1;
    font-family: Menlo-Bold, sans-serif;
    text-decoration: none;
}