.header {
    margin-bottom: 1rem;
    background-color: #010409;
    border-bottom: 2px solid #39404b;
}

.header-container {
    overflow: hidden;;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    user-select: none;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: 1.5rem 3rem 1.5rem 3rem;
    padding-left: 5rem;
}

.logo {
    width: 75px;
    height: 100%;
}

.input-container{
    position: relative;
    width: 100%;
    margin: 2rem 3rem 1rem 3rem;
    padding-right: 5rem;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.input-text {
    background: none;
    border: 1.5px solid #353c44;
    outline: none;
    padding: 10px; 
    border-radius: 15px; 
    font-size: clamp(0.5rem, 1rem, 1rem);
    width: 20rem;
    padding-left: 40px;
}

.loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Menlo-Bold, sans-serif;
    font-weight: bolder;
    font-size: clamp(0.75rem, 2rem, 2rem);
}

@media (min-width: 1920px) {
    .logo-container, .input-container {
        margin-left: 12rem;
        margin-right: 12rem;
    }
}


@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-container {
        display: inline;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo-container, .input-container {
        margin: 0.5rem 1rem;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .input-container {
        justify-content: center;
        align-items: center;
        width: 77%;
        padding-right: 0rem;
    }

    .input-text {
        width: 100%;
        max-width: none;
    }

    .joinedDate p {
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: clamp(1rem, 1.5rem, 2rem); /* Reduce aún más el tamaño */
    }

    .input-container {
        justify-content: center;
        align-items: center;
        width: 70%;
        padding-right: 0rem;
    }

    .logo-container {
        justify-content: center;
        gap: 5px; 
    }

    .input-text {
        font-size: 0.875rem;
    }

    .joinedDate p {
        margin: 0;
        text-align: center;
    }
}