.reposData-wrapper {
    margin: 0rem 0rem 1rem 0rem;
    border: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.reposData-wrapper ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: left;
}

.repo-name {
    display: inline-block;
    border-radius: 15px;
    padding: 0.3rem 0rem 0.3rem 0rem; /* Añadir padding para el estado inicial */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.repo-name:hover {
    color: #4493f8;
    border-radius: 15px;
    background-color: #121d2f;
    transform: scale(1.015); /* Escala el texto */
    padding: 0.3rem 1rem 0.3rem 1rem; /* Mantener el mismo padding que en el estado normal */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.repos-wrapper {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    background-color: #010409;
    transition: all .4s;
}

.repos-list:hover .repos-wrapper{
    opacity: .9;
    filter: blur(2px);
}

.repos-list .repos-wrapper:hover {
    opacity: 1;
    filter: blur(0px);
}

.repos-wrapper a {
    text-decoration: none;
}

.repos-wrapper a:hover {
    text-decoration: underline solid #4493f8;
}

.repos-wrapper h2 {
    color: #4493f8;
}

.topics-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

#topics {
    color: #4493f8;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 15px;
    background-color: #121d2f;
    user-select: none;
    margin-bottom: 0px;
}

#topics:hover {
    background-color: #1f6feb;
    color: white;
}

#license-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#repo-language {
    color: #ffffff;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 15px;
    border: 2px solid #39404b;
    background-color: #262c36;
    user-select: none;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1.5px solid #3d444d;
}

.reposcontent-wrapper #description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reposcontent-wrapper {
    margin: 0px;
    border: 0px;
    padding: 0px 50px 0px 50px; 
}

.repo-forked {
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    font-size: 0.9em;
    color: #4493f8;
}

.repo-sideinfo {
    padding-bottom: 0.3rem;
}

#repohomepage {
    color: #4493f8;
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

.infiniteScroll-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.endMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .reposcontent-wrapper {
        padding: 0.2rem 1.8rem 0.2rem 1.8rem; /* Reducir el padding en pantallas pequeñas */
    }

    #topics {
        font-size: 0.85rem; /* Ajustar el tamaño del texto en dispositivos pequeños */
    }
}

@media (max-width: 380px) {
    .reposcontent-wrapper {
        padding: 0.3rem; /* Reducir el padding en pantallas pequeñas */
    }
    
    hr {
        margin-top: 0.10em;
        margin-bottom: 0.10em;
    }
}