.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 8rem 1rem 8rem;
}

.githubDetails {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    object-fit: cover;
}