@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 8rem 1rem 8rem;
    opacity: 0;
    animation: fadeInMove 0.6s ease-out forwards;
}

.githubDetails {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;

    background-color: #010409;
    border: 2.5px solid #3d444d;
    border-radius: 15px;
    box-shadow: 0px 10px 20px #010409;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-right: 2.5px solid #3d444d;
}

.section-2 {
    padding: 2rem;
}

.avatar {
    width: 19rem;
    height:19rem;
    border-radius: 50%;
    object-fit: cover;
}

#name {
    margin: 0.5rem 0rem 0rem 0rem;
    justify-content: center;
    font-family: "Menlo-Bold";
    font-size: 1.6rem;
    color: white;
}

#login {
    justify-content: center;
    text-align: center;
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1rem;
}

.visit-profile {
    border: 1.5px solid #3d444d;
    border-radius: 15px;
    height: 3rem;
    width: 50%;
    font-size: 1rem;
    background-color: transparent;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.visit-profile:hover {
    transform: scale(1.015);
    background-color: #3d444d;
}

.joinedDate {
    padding-top: 1.5rem;
}

.followers {
    display: flex;
    align-items: center;
    gap: 10px;
}

#users-icon {
    width: 25px;
    height: 25px;
}

.user-wrapper h2 {
    font-family: "Menlo-Bold";
    font-size: 1.6rem;
    margin-bottom: 0px;
}

.user-wrapper p {
    margin-top: 0px;
}

#community {
    margin-top: 1rem;
}

.repos {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeInMove 0.6s ease-out forwards;
}

.header-repos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0rem 1rem 0rem;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

#img-title {
    width: 4rem;
    height: 100%;
}

#repos-title {
    margin: 0;
}

.repo-sideinfo {
    display: flex;
    justify-content: flex-start;
    gap:2.5rem; 
}

#license-image {
    width: 20px;
    height: auto;
}

.license-wrapper {
    display: flex;
    gap: 0.5rem;
}

.repo-sideinfo p {
    margin: 0;
}

@media (min-width: 1920px) {
    .user-wrapper {
        margin-left: 17rem;
        margin-right: 17rem;
    }
}

@media (max-width: 768px) {
    .user-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8rem;
    }

    .githubDetails {
        grid-template-columns: 1fr;
    }

    .section-1 {
        border-right: 0px solid #3d444d;
    }

    .section-2 {
        padding-top: 0;
    }

    .avatar {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-wrapper h2 {
        font-size: 1.4rem;
    }

    .user-wrapper p {
        font-size: 0.9em;
    }

    #name {
        font-size: 1.4em;
    }

    .visit-profile {
        font-size: 0.9em;
        height: calc(auto + 2rem);
    }
}

@media (max-width: 380px) { /* Movil */
    .user-wrapper {
        margin: 2rem;
    }

    .avatar {
        width: 10rem;
        height: 10rem;
    }

    .user-wrapper h2 {
        font-size: 1.2rem;
    }

    .user-wrapper p {
        font-size: 0.8em;
    }

    #name {
        font-size: 1.2em;
    }

    .visit-profile {
        font-size: 0.8em;
        height: calc(auto + 2rem);
    }
}